.fields{
    float: right;
    margin-top: 30px;
    margin-left: 100px;
 }

 .main-text{
    margin-top: 70px;
    margin-right: 70%;
    margin-left: 100px;
    color: #0abdba;
    text-align: top;
    font-family: 'Montserrat', sans-serif;
}

.main-text h3{
    margin-top: 10px;
}

.contentboxes{
    margin-top: 80px;
    margin-left: 100px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    position: relative;
    justify-content: center;
}