.item{
    border: 5px solid #0abdba;
    border-radius: 40px;
    padding-bottom: 20px;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #0abdba;
    position: relative;
    text-align: center;
    box-sizing: content-box;
}

.item h3{
    text-align: center;
    line-break: loose;
}

.item img{
    height: fit-content;
    width: 360px;
    display: block;
    border-radius: 35px;
}

.item button{
    margin: 0;
    border-radius: 15px;
    background-color: transparent;
    border: solid #0abdba;
    color: #0abdba;
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    width: 200px;
    cursor: pointer;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.item button:hover{
    box-shadow: 0 0 40px 40px #0abdba inset;
    color: white;
    font-family: 'Montserrat', sans-serif;
}